__.env
__pycache__/
.__.env
.astro/
.cache
.cache/
.docusaurus
.docusaurus/
.DS_Store
.dynamodb/
.env
.env.*
.env.local
.env*.local
.eslintcache
.expo/
.fusebox/
.gatsby/
.grunt
.grunt/
.idea
.idea/
.lock-wscript
.million/
.next/
.node_repl_history
.npm
.npm/
.npm/_locks
.nuxt/
.nyc_output
.nyc_output/
.parcel-cache
.parcel-cache/
.pnp
.pnp.*
.pnp.js
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.ruff_cache
.ruff_cache/
.serverless/
.stylelintcache
.tern-port
.tern-port/
.turbo
.turbo/
.venv
.venv/
.vercel
.vercel/
.vscode-test
.wheels/
.yarn-integrity
.yarn/
.yarn/build-state.yml
.yarn/cache
.yarn/cache/
.yarn/install-state.gz
.yarn/unplugged
.yarn/unplugged/
*.bak
*.bin
*.d.ts.map
*.dll
*.dylib
*.egg-info
*.egg-info/
*.exe
*.idea/
*.lcov
*.log
*.old
*.orig
*.pem
*.pid
*.pid.lock
*.py[oc]
*.seed
*.so
*.sublime-project
*.sublime-workspace
*.swc
*.swp
*.temp
*.tgz
*.tmp
*.tsbuildinfo
*.vscode/
addons/.output
addons/.output/
addons/premium/
apps/docs/.vitepress/cache
apps/docs/.vitepress/dist
apps/expo/.gitignore
bower_components
bower_components/
build/
build/Release
build/Release/
coverage/
dist/
expo-env.d.ts
jspm_packages/
lerna-debug.log*
lib-cov/
logs/
next-env.d.ts
node_modules/
npm-debug.log*
out/
path_mapping.txt
pids/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
target/
web_modules/
yarn-debug.log*
yarn-error.log*
yarn-error.log/
