.editorconfig     text eol=lf
.env              text eol=lf
.gitattributes    text eol=lf
.gitconfig        text
.htaccess         text
.husky/*          text eol=lf
.prettierrc       text eol=lf
* text=auto
*.*ignore         text eol=lf
*.*rc             text eol=lf
*.3gp             binary
*.3gpp            binary
*.7z              binary
*.ai              binary
*.as              binary
*.asf             binary
*.astro           text eol=lf
*.asx             binary
*.avi             binary
*.bash            text eol=lf
*.bat             text eol=crlf
*.bmp             binary
*.cjs             text eol=lf
*.cmd             text eol=crlf
*.cnf             text
*.coffee          text
*.conf            text
*.config          text eol=lf
*.css             text diff=css
*.dot             text
*.ejs             text
*.eot             binary
*.eps             binary
*.erb             text
*.exe             binary
*.fla             binary
*.flv             binary
*.gif             binary
*.gifv            binary
*.gz              binary
*.haml            text
*.handlebars      text eol=lf
*.hbs             text eol=lf
*.hbt             text
*.htm             text diff=html
*.html            text diff=html
*.ico             binary
*.inc             text
*.ini             text
*.ipynb           text eol=lf
*.jade            text
*.jar             binary
*.jng             binary
*.jp2             binary
*.jpeg            binary
*.jpg             binary
*.jpx             binary
*.js              text eol=lf
*.json            text eol=lf
*.jsx             text eol=lf
*.jxr             binary
*.kar             binary
*.latte           text
*.less            text
*.lock            text -diff
*.ls              text
*.m4a             binary
*.m4v             binary
*.map             text -diff
*.markdown        text diff=markdown
*.md              text diff=markdown eol=lf
*.mdown           text diff=markdown
*.mdtext          text
*.mdtxt           text
*.mdwn            text diff=markdown
*.mid             binary
*.midi            binary
*.mjs             text eol=lf
*.mkd             text diff=markdown
*.mkdn            text diff=markdown
*.mng             binary
*.mov             binary
*.mp3             binary
*.mp4             binary
*.mpeg            binary
*.mpg             binary
*.mustache        text
*.njk             text
*.od              text
*.ogg             binary
*.ogv             binary
*.onlydata        text
*.otf             binary
*.pdf             binary
*.php             text diff=php
*.phtml           text
*.pl              text
*.png             binary
*.ps1             text eol=crlf
*.psb             binary
*.psd             binary
*.py              text diff=python eol=lf
*.pyc             binary
*.ra              binary
*.rar             binary
*.rb              text diff=ruby eol=lf
*.sass            text
*.scm             text
*.scss            text diff=css
*.sh              text eol=lf
*.sql             text eol=lf
*.styl            text
*.svelte          text eol=lf
*.svg             text
*.svgz            binary
*.swc             binary
*.swf             binary
*.tag             text
*.tar             binary
*.tif             binary
*.tiff            binary
*.tmpl            text
*.toml            text eol=lf
*.tpl             text
*.ts              text eol=lf
*.tsx             text eol=lf
*.ttf             binary
*.twig            text
*.txt             text
*.vue             text eol=lf
*.wbmp            binary
*.webm            binary
*.webp            binary
*.woff            binary
*.woff2           binary
*.xhtml           text diff=html
*.xml             text
*.yaml            text eol=lf
*.yml             text eol=lf
*.zip             binary
**/.yarn/plugins/**    binary
**/.yarn/releases/**   binary
*COPYRIGHT*       text
*README*          text eol=lf
AUTHORS           text
browserslist      text
CHANGELOG         text eol=lf
CHANGES           text
CONTRIBUTING      text eol=lf
COPYING           text
copyright         text
dist/*            binary
Dockerfile        text
INSTALL           text
license           text eol=lf
LICENSE           text eol=lf
makefile          text
Makefile          text
NEWS              text
package-lock.json text eol=lf -diff
package.json      text eol=lf
pnpm-lock.yaml    text eol=lf -diff
Procfile          text
readme            text eol=lf
TODO              text eol=lf
tsconfig.json     linguist-language=JSON-with-Comments
yarn.lock         text -diff
